@import "theme";

.App {
  text-align: center;
  font-family: 'Abel', sans-serif;
}

h1 {
  font-family: 'Lobster', cursive;
  display: block;
  background: linear-gradient(30deg, #9F1FED, #645FF2, #38BDD1);
  padding-bottom: 16px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .card {
  margin: 1rem;
}
.card-title {
  padding-top: 0.5rem;
}

footer {
  background: #f6f8f9;
  border-top: 1px solid #ddd;
  margin-top: 3rem;
  padding: 2rem 0;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;

  &::before, &::after {
    content: '';
    border: 5px solid #fff;
    border-radius: 50%;
    border-color: #fff #fff transparent transparent;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }
  &::after {
    animation-delay: -0.25s;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
