@import "theme";

.App {
  text-align: center;
  font-family: 'Abel', sans-serif;
}

h1 {
  font-family: 'Lobster', cursive;
  display: block;
  background: linear-gradient(30deg, #9F1FED, #645FF2, #38BDD1);
  padding-bottom: 16px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight {
  background: linear-gradient(30deg, #9F1FED, #645FF2, #38BDD1);
  color: #fff;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .block {
    margin-top: 1rem;
    background: rgba(255,255,255,0.3);
    border-radius: 3px;
    box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 2%), 0px 2px 8px rgb(0 0 0 / 8%);
    padding: 1rem;
  }

  .block-search {
    a.date {
      color: $subtle-link;
      text-decoration: none;
      border-bottom: 1px dashed $subtle-link;
    }

    input {
      margin-top: 1rem;
    }
  }

  .block-top {
    table {
      width: 100%;
    }
  }
}

.container .card {
  margin: 1rem;
}
.card-title {
  padding-top: 0.5rem;
}

footer {
  background: #f6f8f9;
  border-top: 1px solid #ddd;
  margin-top: 3rem;
  padding: 2rem 0;
}

@keyframes fadeout {
  100% { opacity: 0; pointer-events: none; display: none; }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255,0.7);
  z-index: 10;

  &_logo {
    background: url('../public/loader.svg') center no-repeat;
    height: 100%;
    width: 100%;
  }
  &.loaded {
    animation: fadeout 0.5s ease 1;
    animation-fill-mode: forwards;
  }
}

