@import '../../theme';

.headlines {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;

    .item {
        color: #000;
        padding: 20px 10px;
        position: relative;
        background-size: cover;
        border-radius: 5px;
        transition: all ease-out 0.6s;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(255,255,255,0.9);
            width: 100%;
            height: 100%;
            transition: all ease 0.2s;
        }
        &:hover {
            background-position-y: center;
        }
        &:hover::before {
            background: rgba(255, 255, 255, 0.8);
        }
        * {
            position: relative;
            z-index: 2;
        }
        .title {
            font-weight: bold;
            font-size: 20px;
            color: #000;
            text-decoration: none;
            border-bottom: 1px solid #aaa;
            transition: all ease 0.2s;

            &:hover {
                border-color: #000;
            }
        }
        .date {
            font-size: 12px;
            color: #222;
            text-transform: uppercase;
        }
        .description {
            padding-top: 3px;
        }
    }
}