.block-trends {
    .symbol {
        text-align: right;
        text-transform: uppercase;
        color: #555;
        font-weight: bold;
        font-size: 12px;
    }
    .name {
        text-align: left;
    }
    .marketCap {
        text-align: right;
        span {
            font-weight: bold;
            &::before {
                content: '#';
                font-weight: normal;
                padding-right: 3px;
            }
            &::after {
                content: 'by market cap';
                font-weight: normal;
                font-size: 11px;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    table {
        tr {
            transition: all 0.1s ease;
            td {
                padding: 0.5rem 0;
                cursor: default;
            }
        }
        img {
            width: 25px;
        }
        tr:nth-child(odd) {
            background: #f8f8f8;
        }
        tr:hover {
            background: #eee;
        }
    }
}
