.block-top {
  margin: 2rem 0 !important;
}

.coin-img {
  width: 25px;
}

.top-list {
  tr {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    transition: all 0.1s ease;

    &:last-child {
      border: none;
    }
    &:hover {
        background: rgba(255,255,255,0.1);
    }

    td {
      padding: 0.5rem 0;
      cursor: pointer;
    }
    .symbol {
      text-align: right;
      text-transform: uppercase;
      color: #ddd;
      font-size: 12px;
    }
    .name {
        text-align: left;
    }
  }
}
