@import "../../theme";
@import '~rsuite/dist/rsuite.min.css';

.start-form {
    margin: 1rem 0;

    .field > input, .field .input {
        box-shadow: #5481e6 5px 5px;
        background: rgba(255,255,255,0.1);
        border: 1px solid rgba(255,255,255,0.3);
        border-radius: 4px;
    }
    .field input, .field .input {
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        padding: 2px 8px;
        outline: none;
    }

    .label, .field {
        margin: 1rem 0;
    }
    .label {
        margin-top: 1.8rem;
    }

    div.search {
        margin-top: 2rem;
    }

    div.amount {
        margin-top: 2rem;
        .field div {
            display: inline-block;
            
            &:after {
                content: 'USD';
                border-left: 1px solid rgba(255,255,255,0.3);
                color: #eee;
                padding-left: 5px;
                font-weight: normal;
                font-size: 16px;
            }
        }
        input {
            box-shadow: none;
            border: none;
            background: transparent;
        }
    }

    div.date {
        margin-top: 2rem;
    }

    .result {
        position: relative;
        margin-top: 2rem;
        font-size: 20px;

        .missed {
            margin-top: 1rem;
            font-size: 30px;
            font-weight: bold;
        }
    }

    button {
        margin-top: 1rem;
    }

    .rs-steps {
        margin: 1rem 0;

        .rs-steps-item-icon-wrapper {
            border-color: #fff;
            color: #fff;
            background: transparent;
        }
        .rs-steps-item-content {
            color: #fff !important;
        }
        .rs-steps-item-tail, .rs-steps-item-title:after {
            border-color: #fff !important;
        }
        .rs-steps-item-status-process {
            .rs-steps-item-icon-wrapper {
                border-color: #38BDD1;
                background: #38BDD1;
            }
        }
    }
}

@keyframes firework {
    0% { 
        width: 0.5vmin;
        opacity: 1;
    }
    100% { 
        width: 45vmin; 
        opacity: 0; 
    }
}

.animation {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    .firework {
        position: absolute;
        top: 30%;

        i, i::before, i::after {
            content: "";
            opacity: 0;
            position: absolute;
            transform: translate(-50%, -50%);
            width: 0.5vmin;
            aspect-ratio: 1;
            background:
            /* random backgrounds */
            radial-gradient(circle, #f00 2px, #0000 0) 50% 00%,
            radial-gradient(circle, #00f 3px, #0000 0) 00% 50%,
            radial-gradient(circle, #0f0 5px, #0000 0) 50% 99%,
            radial-gradient(circle, #f9f 2px, #0000 0) 99% 50%,
            radial-gradient(circle, #9ff 3px, #0000 0) 80% 90%,
            radial-gradient(circle, #99f 5px, #0000 0) 95% 90%,
            radial-gradient(circle, #ff9 5px, #0000 0) 10% 60%,
            radial-gradient(circle, #9f9 2px, #0000 0) 31% 80%,
            radial-gradient(circle, #f99 3px, #0000 0) 80% 10%,
            radial-gradient(circle, #66f 2px, #0000 0) 90% 23%,
            radial-gradient(circle, #6f6 3px, #0000 0) 45% 20%,
            radial-gradient(circle, #ff6 5px, #0000 0) 13% 24%
            ;
            background-size: 5px 5px;
            background-repeat: no-repeat;
            animation: firework 2s forwards;
        }
        i::before {
            transform: translate(-50%, -50%) rotate(25deg) !important; 
        }
        i::after {
            transform: translate(-50%, -50%) rotate(-37deg) !important;
        }
      }
      .firework.one {
        left: 40%;
        top: 50%;
        i, i::before, i::after {
            animation-delay: 0.4s;
        }
      }
      .firework.two {
        left: 60%;
        top: 70%;
        i, i::before, i::after {
            animation-delay: 0.8s;
        }
      }
}