@import "../../theme";
@import '~rsuite/dist/rsuite.min.css';

.start-form {
    margin: 1rem 0;

    .field > input, .field .input {
        box-shadow: #5481e6 5px 5px;
        background: rgba(255,255,255,0.1);
        border: 1px solid rgba(255,255,255,0.3);
        border-radius: 4px;
    }
    .field input, .field .input {
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        padding: 2px 8px;
        outline: none;
    }

    .label, .field {
        margin: 1rem 0;
    }
    .label {
        margin-top: 1.8rem;
    }

    div.search {
        margin-top: 2rem;
    }

    div.amount {
        margin-top: 2rem;
        .field div {
            display: inline-block;
            
            &:after {
                content: 'USD';
                border-left: 1px solid rgba(255,255,255,0.3);
                color: #eee;
                padding-left: 5px;
                font-weight: normal;
                font-size: 16px;
            }
        }
        input {
            box-shadow: none;
            border: none;
            background: transparent;
        }
    }

    div.date {
        margin-top: 2rem;
    }

    .result {
        margin-top: 2rem;
        font-size: 20px;

        .missed {
            margin-top: 1rem;
            font-size: 30px;
            font-weight: bold;
        }
    }

    button {
        margin-top: 1rem;
    }

    .rs-steps {
        margin: 1rem 0;

        .rs-steps-item-icon-wrapper {
            border-color: #fff;
            color: #fff;
            background: transparent;
        }
        .rs-steps-item-content {
            color: #fff !important;
        }
        .rs-steps-item-tail, .rs-steps-item-title:after {
            border-color: #fff !important;
        }
        .rs-steps-item-status-process {
            .rs-steps-item-icon-wrapper {
                border-color: #38BDD1;
                background: #38BDD1;
            }
        }
    }
}
