@import "../../theme";

.start-form {
    margin: 1rem 0;

    .row {
        margin: 0.6rem 0;

        div.field {
            text-align: left;
        }
        div.label {
            text-align: right;
            line-height: 30px;
        }
    }
    .field > input, .field .input {
        box-shadow: #5481e6 5px 5px;
        background: rgba(255,255,255,0.1);
        border: 1px solid rgba(255,255,255,0.3);
        border-radius: 4px;
    }
    .field input, .field .input {
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        padding: 2px 8px;
        outline: none;
    }


    .search {
        .label, .field {
            margin: 1rem 0;
        }
        .label {
            margin-top: 1.8rem;
        }
    }

    .amount {
        .field div {
            display: inline-block;
            
            &:after {
                content: 'USD';
                border-left: 1px solid rgba(255,255,255,0.3);
                color: #eee;
                padding-left: 5px;
                font-weight: normal;
                font-size: 16px;
            }
        }
        input {
            box-shadow: none;
            border: none;
            background: transparent;
        }
    }

    button {
        margin-top: 1rem;
    }
}