.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  .logo {
    text-decoration: none !important;
    display: flex;
    align-items: center;

    .icon {
      mask-image: url('../../../public/logo.svg');
      mask-repeat: no-repeat;
      float: left;
      width: 50px;
      height: 50px;
      background: linear-gradient(30deg, #9F1FED, #645FF2);
      -webkit-mask-size: 100%;
      margin-right: 1rem;
    }
    h1 {
      text-decoration: none;
      text-align: left;
      text-transform: uppercase;
      font-size: 34px;
      margin: 0;
      padding: 0;
    }
  }

  .header_description {
    padding: 0;
    margin: 0;
    text-align: left;
    align-self: center;
  }
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;

  a {
    background: rgb(100, 95, 242, 0.2);
    color: #000;
    padding: 2px 6px;
    display: inline-block;
    margin: 2px;
    text-decoration: none !important;
    transition: all ease 0.2s;

    &:hover {
      background: #38BDD1;
      color: #fff;
    }
  }
}
