name: Build & Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy app on Node ${{ matrix.node-version }}
    - uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        key: ${{ secrets.SSH_KEY }}
        username: ${{ secrets.SSH_USERNAME }}
        
        script: |
          git clone git@github.com:ilyaem/cryptogrowth.git cryptogrowth
          echo 'Deployment completed'
          npm run build
          pm2 restart server
