name: Initialize instance

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
      with:
        ssh-key: ${{ secrets.SSH_KEY }}
      
    - uses: actions/setup-node@v3
      name: Setup Node
      with:
        node-version: 16
      
    - name: Install PM2
      run: npm install pm2@latest -g
      
