name: Initialize instance

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      name: Setup Node
      with:
        node-version: 16
      
    - name: Install PM2
      run: npm install pm2@latest -g
      
    - uses: appleboy/ssh-action@master
      name: Clone repo
      with:
        host: ${{ secrets.SSH_HOST }}
        key: ${{ secrets.SSH_KEY }}
        username: ${{ secrets.SSH_USERNAME }}
        run: git clone git@github.com:ilyaem/cryptogrowth.git cryptogrowth
        
    - name: Install modules
      run: npm ci
      
